/*  ==================== 
    sticky footer styles
    ====================    

    Also see general styles for related body styles.
    All pages have a container with flex-grow:1;
*/
.footer {
    height: 60px;
    background-color: $mainBackground;
    background-image: var(--gradient-dark);
}

//  tooltip
.footer a {
    position: relative;
}

.footer__tooltip:hover::after {
    content: 'Click to see more development work by Joris H. Raymaekers @ jorisr.com';
    width: 330px;
    height: 75px;
    background: $secondColor;
    color: $mainBackground;
    position: absolute;
    top: -80px; 
    left: -210px;
    padding: 15px;
    border-radius: 75px;
}

