<% include ../modules/_header %>
<div class="row justify-content-center">
    <div class="col-xs-12 col-md-6 col-lg-4">
        <h2 class="text-center mb-3">Add a comment to campground: <%= campground.name %></h2>
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST" class="mb-3">
            <div class="form-group">
                <label for="formComment">Comment</label>
                <textarea name="comment[text]" id="formComment" autofocus required></textarea>
            </div>
            <button class="btn btn-md btn-block btn-outline-info">Submit</button>
        </form>
        <a class="btn btn-sm btn-light" href="/campgrounds/<%= campground._id %>">Go Back</a>
    </div>
</div>

<% include ../modules/_footer %>