    
<div class="footer">
        <p class="text-center p-3 m-0">Copyright &copy; 2019 by <a class="footer__tooltip"href="https://www.jorisr.com">jorishr<i class=" pl-1 fas fa-external-link-alt"></i></a></p>
</div>

<script src="/scripts/vendor/jquery/jquery.min.js"></script>
<script src="/scripts/vendor/popper.js/popper.min.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/copyurl.js"></script>

    </body>
</html>