<script src="/scripts/vendor/jquery/jquery.min.js"></script>
<script src="/scripts/vendor/popper.js/popper.min.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

        </body>
    <div class="footer">
        <p class="text-center p-3 m-0">Copyright &copy; 2019 by <a href="https://www.jorisr.com">jorishr</a></p>
    </div>
</html>