<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
         
    <!--    STYLES 

        Note: Express already looks into public folder, so no further path
        specification required if using public/main.css 
        BUT you do have to include / for root (public). If not your partial
        modules will try to load from /route/main.css and that will throw
        a MIME error.
    -->
    <link rel="stylesheet" href="/bootstrap-reboot.css" type="text/css">   
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/main.css" type="text/css">  
    
    <script src="https://kit.fontawesome.com/49d7940b9d.js"></script>
    <!--    SEO    -->
    <title>Yelp Camp</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">Yelp Camp</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <% if(!currentUser) { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li class="nav-item">
                            <a  class="nav-link" 
                                href="#"> Logged in as <%= currentUser.username %>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>

