<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
         
    <!--    STYLES 

        Note: Express already looks into public folder, so no further path
        specification required if using public/main.css 
        BUT you do have to include / for root (public). If not your partial
        modules will try to load from /route/main.css and that will throw
        a MIME error.
    -->
    <link rel="stylesheet" href="/bootstrap-reboot.css" type="text/css">   
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">   
    <link rel="stylesheet" href="/main.css" type="text/css">  
    
    <!--    SEO    -->
    <title>Yelp Camp</title>
</head>
<body>
