.card img {
  width: 100%; }

.wrapper {
  padding-bottom: 1rem; }

h1 > i {
  padding-right: .5em;
  font-size: 1.5em; }

textarea {
  min-height: 5em;
  max-height: 50vh;
  width: 100%; }

.deleteForm {
  display: inline-block; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

@media (min-width: 576px) {
  .campgrounds-index {
    margin-left: -15px;
    margin-right: -15px; } }

#map {
  height: 400px;
  width: 100%; }

/*  ==================== 
    sticky footer styles
    ====================    */
html {
  position: relative;
  min-height: 100%; }

body {
  /*  margin bottom by footer height  */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5; }
  .footer p {
    padding-bottom: 0; }
