<% include ../modules/_header %>
<div class="container">

    <header class="jumbotron text-center">
        <h1><i class="fas fa-campground"></i></span><strong>Welcome to Yelp Camp</strong></h1>
        <h3>Check out these amazing campgrounds in Catalonia!</h3>
        
        <p>Want to share a fantastic campsite that is no listed yet?</p>
        <a  class="btn btn-large btn-primary" 
            href="/campgrounds/new">
            submit
        </a>
    </header>
    <div class="row campgrounds-index text-center">
        <% campgrounds.forEach(campground => { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img    class="card-img-top"
                            src="/<%= campground.image %>" alt="Image of the campground">
                    <div class="card-body">
                        <h4 class="card-title"><%= campground.name %></h4>
                    </div>
                    <a  href="/campgrounds/<%= campground._id %>"
                        class="btn btn-primary">More info...</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>   
<% include ../modules/_footer %>
