<% include ../modules/_header %>

<div class="row justify-content-center wrapper">
    <div class="col-md-12 text-center mb-2">
        <h2>Submit a new campground</h2>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <form action="/campgrounds" method="POST" class="mb-3">
            <div class="form-group">
                <label for="">Name</label>
                <input  class="form-control" type="text" name="newName" 
                        placeholder="Enter name of new campsite..." id="">
            </div>
            <div class="form-group">
                <label for="">Image</label>
                <input  class="form-control" type="text" name="newImage"
                        placeholder="Enter url of new image..." id="">
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <input  class="form-control" type="text" name="newLocation" 
                        id="location" placeholder="Indicate the address of the campground...">
            </div>

            <div class="form-group">
                <label for="">Price per night in EUR</label>
                <input  class="form-control" type="number" name="newPrice" 
                        placeholder="Enter price of the new campsite..." id=""
                        min="0.01" step="0.01">
            </div>

            <div class="form-group">
                <label for="">Description</label>
                <textarea   name="newDescription" id=""
                            placeholder="Enter a desription of the campground...">
                </textarea>
            </div>
            <button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
        </form>
        <a class="btn btn-light btn-small float-right" href="/campgrounds">Go Back</a>
    </div>
</div>

<% include ../modules/_footer %>