<% include modules/_header %>

<a href="/">HOME</a>
<h2>These are all available campgrounds. Check them out!</h2>
<a href="/campgrounds/new">Want to share a new campsite? Submit here!</a>
<% campgrounds.forEach(campground => { %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.img %>" alt="Image of the campground">
    </div>
<% }) %>

<% include modules/_footer %>