<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/landing.css">
    <link rel="stylesheet" href="/main.css">
    <title>CataCamp</title>
</head>
<body>
    <div class="landing-header">
        <h1 class="mb-2">Welcome to CataCamp</h1>
        <h2 class="mb-5">The most amazing campgrounds in Catalonia, all in one place!</h2>
        <a class="btn btn-lg btn-info mb-4" href="/campgrounds">Start your journey now!</a>
        <p>OR</p>
        <form   action="/campgrounds" method="GET" 
                class="form-inline justify-content-center">
            <div class="search-box">
                <label for="search-form"></label>
                <input  class="search-box__text" type="text" name="search" 
                        placeholder="Enter a location or name...">
                <button class="search-box__btn" type="submit">
                    <i class="fas fa-search-location"></i>
                </button>
            </div>
        </form>
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul> 