<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap-reboot.css">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/landing.css">
    <link rel="stylesheet" href="/main.css">
    <title>Yelp Camp</title>
</head>
<body>
  
    <div class="landing-header">
            <h1>Welcome to Yelp Camp</h1>
            <h2>The place to be for all your camping trips!</h2>
            <a class="btn btn-lg btn-info" href="/campgrounds">See all campgrounds</a>
    </div>

    <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul> 