<% include modules/_header %>

<h1>All about Campground <%= campground.name %></h1>
<p><%= campground.description %></p>
<img src="/<%= campground.image %>" alt="<%= campground.name %>">

<% include modules/_footer %>